<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tired Chat - <%= tab_title %></title>
</head>
<body>
    <h1>this ui is temporary</h1>
    <p>made by thelegendarytrashcan</p>
    <div class="messages">

    </div>
    <input placeholder="haii :3 let me fuck your ass daddy :3" type="text">
</body>
<style>
body {
    background: llinear-gradient(30deg, #fff,#eee);
}
</style>
<script>
    fetch("https://api.mcpedl.com/api/route/slug/azalea", {
        headers: {
            origin: "https://api.mcpedl.com"
        }
    }).then(res=>res.json()).then(res=>{
        let a = document.createElement('a');
        a.innerText = "Download azalea now!";
        a.href = res.data.downloads.find(_=>_.includes('stl2'));
        document.querySelector('.messages').appendChild(a);
    })
</script>
</html>